*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
core
cscope.*
.deps/
INSTALL
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
NOTES.html
*.o
README
README.html
README.txt
RELEASE
RELEASE.html
RELEASE.txt
scripts/
stamp-h*
.*.sw[mnop]
tags
*.tar.*
*.tmp
TODO.html
xdg-play
xdg-play.man
xdg-sound.man
xdg-sound-list.man
xdg-sound-which.man
xdg-sound-whereis.man
